<a href="https://colab.research.google.com/github/duhajarrar/TelecomMIT/blob/main/telecom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
###nibaaalll
#hamza
#raha
import pandas as pd
import numpy as np
trainingData = pd.read_csv("drive/MyDrive/Telecom.csv")

In [9]:
trainingData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   int64
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   int64
 5   voice mail plan         3333 non-null   int64
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   int64
dtypes: float64(8), int64(12), object(1)
memory usage: 546.9+ KB

In [11]:
trainingData.head(10)

   state  account length  ...  customer service calls  churn
0     16             128  ...                       1      0
1     35             107  ...                       1      0
2     31             137  ...                       0      0
3     35              84  ...                       2      0
4     36              75  ...                       3      0
5      1             118  ...                       0      0
6     19             121  ...                       3      0
7     24             147  ...                       0      0
8     18             117  ...                       1      0
9     49             141  ...                       0      0

[10 rows x 21 columns]

In [10]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
trainingData['state'] = label_encoder.fit_transform(trainingData['state'])
trainingData['international plan'] = label_encoder.fit_transform(trainingData['international plan'])
trainingData['voice mail plan'] = label_encoder.fit_transform(trainingData['voice mail plan'])
trainingData['churn'] = label_encoder.fit_transform(trainingData['churn'])
trainingData['phone number'] = trainingData['phone number'].str.replace(r'-','')
trainingData[['phone number']] = trainingData[['phone number']].apply(pd.to_numeric)